body {
  width: 650px;
  padding-top: 40px;
  padding-left: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: rgb(243, 243, 243);
  background-color: rgb(104, 104, 104);
  line-height: 1.8em;
}

@media screen and (max-width: 700px) {
  body {
    width: auto;
    padding-top: 0;
    padding-left: 0;
  }
}

li {
  margin-bottom: 5px;
}

a {
  color: hsl(14, 91%, 79%);
}

a:visited {
  color: hsl(14, 51%, 74%);
}