main {
  display: block;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.sidebar {
  background-color: yellow;
  opacity: 0.5;
}

.content{
  background-color: blue;
  opacity: 0.5;
}