---
layout: layout.njk
permalink: /notes/
---

<ul class="notelist">
{% for post in collections.notes | reverse %}
  <li class="notelist-item{% if post.url == url %} notelist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <!--
    <ul class="notelist-tags">
    {% for tag in post.data.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li class="vertical-separator">
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
      </li>
      {%- endif -%}
    {% endfor %}
    </ul>
    -->
  </li>
{% endfor %}
</ul>