main-font-size = 14px
main-font-family = 'Asap', sans-serif
monospace-font-family = 'Inconsolata', monospace
title-font-family = 'Raleway', sans-serif

tablet-pw = 768px
tablet-portrait = 'handheld and (max-width: '+tablet-pw+'), screen and (max-width: '+tablet-pw+')'

mobile-lw = 480px
mobile-landscape = 'handheld and (max-width: '+mobile-lw+'), screen and (max-width: '+mobile-lw+')'

mobile-pw = 320px
mobile-portrait = 'handheld and (max-width: '+mobile-pw+'), screen and (max-width: '+mobile-pw+')'
