@import "_variables.styl"
@import "_nib"
@import "_mixins.styl"

global-reset()
html5-reset()

body
  box-sizing: border-box
  font-size: main-font-size
  font-family: main-font-family
  position: relative
  width: 60rem
  margin: 50px auto

pre, code
  font-family: monospace-font-family

h1, h2, h3, h4, h5, h6
  font-family: title-font-family

h1
  font-size: 3rem

h2
  font-size: 2.5rem

h3
  font-size: 2rem

hr
  border-style: solid

@import "utils.styl"
@import "layout.styl"
