<!DOCTYPE html>
<html>
  <head>
    <title>trodrigues.net - {{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro" rel="stylesheet"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="https://github.com/trodrigues/trodrigues.net" target="_blank" rel="noopener">Source</a></li>
      </ul>
    </nav>
    <hr />
    <main>
      {{content | safe}}
    </main>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
