---
layout: layout.njk
---
<article class="note">
  <h1>{{title}}</h1>
  <section>
    {{content | safe}}
  </section>
  <p class="time">Updated on <time datetime="{{ post.date | htmlDateString }}">{{page.date | readableDate}}</time></p>
</article>