- var dateTime = new Date(articleDate);
- var time = dateTime.toTimeString().split(':');
- var date = dateTime.getDate()+' '+months[dateTime.getMonth()+1]+' '+dateTime.getFullYear();
time(datetime="articleDate")!= time[0]+':'+time[1]+' &dash; '+date
