doctype
html
  head
    link(rel="stylesheet", href="/css/main.css")
    link(href="http://fonts.googleapis.com/css?family=Asap|Inconsolata|Raleway", rel="stylesheet", type="text/css")

  body
    h1.main-title
      a(href="/") Hi there, I'm Tiago.
    nav.main-nav
      ul
        li
          a(href="/") writing
          span /
        li
          a(href="/about.html") about
    main
      if current.path[0] == 'articles'
        - var currentPath = current.path[1]+'/'+current.path[2]+'/'+current.path[3];
        - var article = public.articles._data.list.filter(function(val){return val.slug === currentPath})[0];
        if article
          != partial("_article", {article: article})
        else
          != partial("404")
      else
        != yield
