h2 about

p My name's Tiago Rodrigues. I'm a Portuguese guy, currently living in Berlin. I work as a software developer, mostly on the web, and mostly doing frontend development and lots of JS.
p I spend way too much time getting to know new music of many kinds or watching lots of TV series and movies. I love video games but fail hard at keeping up with all that's out there.
p Find out more about me through my writing, or through my links to profiles on various other services:

dl
  dt
    a(href="http://twitter.com/trodrigues") twitter
  dd , where I tweet a lot about tech, music, cats and the occasional rant.
  dt
    a(href="https://pinboard.in/u:trodrigues") Pinboard
  dd , where I bookmark almost as much as I tweet.
  dt
    a(href="http://www.last.fm/user/s3phiroth") last.fm
  dd , where I log a lot of the things I listen to.
  dt
    a(href="http://www.flickr.com/photos/s3phiroth/") flickr
  dd , where I post some random pictures.
  dt
    a(href="https://github.com/trodrigues") github
  dd , where I publish some random pet projects or open source stuff I work on.
  dt
    a(href="https://www.linkedin.com/in/tmcrodrigues") linkedin
  dd , where you can see what I've done with my professional life.

p If you'd like to contact me, you can do so at tmcrodrigues at gmail dot com.
