h2 about

.h-card
  p.p-note My name's <a href="http://trodrigues.net" rel="me" class="u-url p-name">Tiago Rodrigues</a>. I'm a Portuguese guy, currently living in <span class="p-locality">Berlin</span>, <span class="p-country-name">Germany</span>. I work as a software developer, mostly on the web, and mostly doing frontend development and lots of JS.
  p I spend way too much time getting to know new music of many kinds or watching lots of TV series and movies. I love video games but fail hard at keeping up with all that's out there.
  p Find out more about me through my writing, or through my links to profiles on various other services:

  :markdown
    [twitter](http://twitter.com/trodrigues), where I tweet a lot about tech, music, cats and the occasional rant.

    [Pinboard](https://pinboard.in/u:trodrigues), where I bookmark almost as much as I tweet.

    [last.fm](http://www.last.fm/user/s3phiroth), where I log a lot of the things I listen to.

    [flickr](http://www.flickr.com/photos/s3phiroth/), where I post some random pictures.

    [github](https://github.com/trodrigues), where I publish some random pet projects or open source stuff I work on.

    [linkedin](https://www.linkedin.com/in/tmcrodrigues), where you can see what I've done with my professional life.

  p If you'd like to contact me, you can do so at <a class="u-email" href="mailto:tmcrodrigues@gmail.com">tmcrodrigues at gmail dot com</a>
