h2 writing

ul.article-list
  for article, slug in public.articles._data
    li
      a(href="/articles/#{ slug }.html")= article.title
      &ndash;
      != partial('_date', {articleDate: article.date})
