h2 writing

ul.article-list
  for article in public.articles._data.list
    li
      a(href="/articles/#{ article.slug }.html")= article.title
      &ndash;
      != partial('_date', {articleDate: article.date})
