html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;font-family:'Asap',sans-serif;padding:50px}
pre,code{font-family:'Inconsolata',monospace}
h1,h2,h3,h4,h5,h6{font-family:'Raleway',sans-serif}
h1{font-size:3em}
h2{font-size:2.5em}
h3{font-size:2em}
.main-title{margin-bottom:1em;}
.main-title a,.main-title a:hover{color:#000;text-decoration:none}
.main-nav{position:fixed;margin-left:50em;margin-top:.4em;font-size:1.3em;}
.main-nav li{display:inline}
.main-nav span{margin:0 4px}
.main-nav a{color:#323232;background:#cfcfcf}
.main-nav a:hover{background:none;text-decoration:none}
main{width:50em;}
main h2{margin-bottom:.5em}
main p,main dl{line-height:1.5em;margin-bottom:.8em;font-size:1.2em}
main a{color:#646464}
main a:hover{text-decoration:none}
main dl{display:block;overflow:hidden}
main dt,main dd{float:left}
main dt{clear:left;margin-right:.2em}
.article-list{font-size:1.3em;margin-left:1.5em;}
.article-list li{list-style-type:disc;margin-bottom:.5em}
.article-list a{margin-right:.5em}
.article-list time{margin-left:.5em}
article time{display:block;margin-bottom:1.5em;font-style:italic;color:#787878}
